@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato/latoregular.woff') format('woff'),
  url('../fonts/lato/latoregular.woff2') format('woff2'),
  url('../fonts/lato/latoregular.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/lato/latosemibold.woff') format('woff'),
  url('../fonts/lato/latosemibold.woff2') format('woff2'),
  url('../fonts/lato/latosemibold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato/latobold.woff') format('woff'),
  url('../fonts/lato/latobold.woff2') format('woff2'),
  url('../fonts/lato/latobold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/lato/latoheavy.woff') format('woff'),
  url('../fonts/lato/latoheavy.woff2') format('woff2'),
  url('../fonts/lato/latoheavy.ttf') format('truetype')
}
