$light: #fff;
$highlight: #43ABF0;
$highlight-medium: #3E9CDC;
$highlight-dark: #286690;
$gray: #C3C3C3;
$gray-light: #C4C4C4;
$medium-gray: #BBBBBB;
$gray-dark: #6F6D7B;
$dark: #000;
$dark-another: #272733;
$footer-back: #3D4050;
